html {
  background: #e4e978;
}

section {
  color: #5c6e91;
  font-style: italic;
}

article {
  margin: 15px 10px;
  padding: 5px 15px;
  border: 1px solid #b2ad7d;
  background: #f2f4c0;
  width: 700px;
}

h1 {
    font-size: xx-large;
}

h1 p {
    font-size: medium;
    font-weight: normal;
}